@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff;
}

main h3 {
    color: #000;
    text-align: center;
    font-size: 26px;
    font-weight: 500;
}

.divColors {
    text-align: center;
}

input[type="color"] {
    border: none;
    background: transparent;
    width: 80px;
    height: 40px;
}

input [type="color"]::webkit-color-swatch  {
   border-radius: 10px;
   border: none;
}

.divDirection > i {
    font-size: 36px;
    color: #aaa;
    cursor: pointer;
}

.active {
     color: black!important;
}

button {
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #91171F;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: .3s linear;
}

button:hover {
    transform: scale(1.1);
}

textarea {
    resize: none;
    padding: 5px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}
